*{
    box-sizing: box-sizing;
    padding: 0;
    margin: 0;
 }
 
 body {
    font-size: normal;
    background-color: white;

 }
 .container{
     width: 100%;
     overflow-y: hidden;
 }
 .content{
    width: 100%;
    overflow-y: hidden;
}

.home{
    width: 99%;
    height: 100vh;
    margin: auto;
    padding: 3px;
    overflow-y: hidden;
    background-image: url('images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.home .logo{
    display: flex;
    margin:0 auto 20px;
    width: max-content;
    border-bottom: lid black solid white;
}
.home .logo img{
    width: 40px;
    height: 40px;
    
}
.home .logo h1{
    font-size: 28px;
    font-family: cursive;
    color: white;
}
.home h1{
    font-size: 28px;
    font-family: cursive;
    color: white;
    text-align: center;
}
.home h2{
    font-size: 22px;
    font-family: cursive;
    color: white;
    text-align: center;
}
.vidform{
    display: flex;
    width: 80%;
    height: max-content;
    margin: auto;
    margin-top: 10px;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: 0px 1px solid red 10px 3px black;
}
.vidform .video{
    width: 95%;
    margin: 0px 3px;
    background-color: white;
    box-shadow: 0px 1px solid red 10px 3px black;
}
.vidform .video video{
    width: 100%;
}
.vidform .video h1{
    font-size: 26;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.formulaire h2{
    background-color: gray;
}
.formulaire form{
    width: 90%;
    margin: auto;
    padding: 1em;
    overflow-y: hidden;
}
.formulaire input{
    width: 100%;
    padding: 5px;
    margin: 3px;

}
.formulaire h3{
    font-size: 16px;
    text-align: center;
}
.formulaire button{
    width: 96%;
    margin: auto;
    padding: 3px;
}
.main{
    width: 90%;
    height: 100%;
    margin: auto;
}
.contact .image{
    width: 100%;

}
.formulaire h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}
.formulaire h3{
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}
.contact .image img{
    width: 100%;
}
.main .contact{
    width: 100%;
    display: flex;
}
.formulaire{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.formulaire .t{
    width: 60%;
}
.contact .formulaire form{
    width: 90%;
    margin-right: 30px;
    margin: auto;
}
.form form input{
    color: rgb(129, 118, 118);
    background: white;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px solid red;
    transition: all 0.3s ease;
    width: 100%;
    margin: 0.3em;
    border: 0px;
    border-bottom: 1px solid red;
}
.form form button{
    color: #fff;
    background: blue;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px solid red;
    transition: all 0.3s ease;
    width: 100%;
    margin-left: 9px;
    border: 0px;
  }
  .form{
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      margin:10px auto;
      background-color: white;
  }
  .form .t{
      width: 60%;
      padding: 5PX;
      color: black;
      border-right: black 2px solid;
  }
  .form .t h1{
      color: black;
      font-size: 20px;
  }
  .form .t h3{
      text-align: justify;
  }
  .form .t hr{
      height: 10px;
      color: blue;
      border-bottom: 1px solid blue;
  }
  .form form{
      padding: 1em;
      width: 35%;
  }
@media (max-width: 600px){
    body{
        overflow: auto;
    }
    h1{
        font-size: 18px;
    }

    .form{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }
    .form .t{
        width: 100%;
        border-right: solid 2px black;
    }
    .form form{
        padding: 1em;
        width: 100%;
    }

    .home{
        width: 97%;
        height: 100%;
        padding: 3px;
        overflow-y: hidden;
        background-image: url('images/back.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .home .logo{
        display: block;
        margin: auto;
        width: 90%;
        border-bottom: lid black solid white;
        align-items: center;
    }
    .home .logo img{
        width: 40px;
        height: 40px;
        display: none;
        
    }
    .home .logo h1{
        font-size: 20px;
        font-family: cursive;
        color: white;
        text-align: center;
    }
    .home-a h1{
        font-size: 22px;
    }
    .home-a h2{
        font-size: 18px;
    }
    .vidform{
        display: block;
        width: 99%;
        margin: 3px;
        height: max-content;
        margin: auto;
        overflow-y: hidden;
        background-color: white;
        box-shadow: 0px 1px solid red 10px 3px black;
    }
    .vidform .video h1{
        font-size: 18px;
        background-color: gray;
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .vidform .formulaire form{
        width: 100%;
        margin: auto;
        padding: 0.2em;
        overflow-y: hidden;
    }
    .formulaire input{
        width: 98%;
        padding: 5px;
        margin: 3px;
    
    }
    .formulaire button{
        width: 96%;
        margin: auto;
        padding: 3px;
    }
    .formulaire h3{
        font-size: 14px;
        text-align: center;
    }
    .main{
        width: 90%;
        height: 360px;
        border: black lid black solid;
        margin: auto;
    }
   .main{
       width: 100%;
       height: 100%;
   }


   .contact .formulaire h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.contact .formulaire h3{
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}
.contact .image img{
    width: 100%;
}
.main .contact{
    width: 100%;
    display: block;
}
.contact .formulaire{
    width: 100%;
}
.contact .formulaire form{
    width: 90%;
    margin-right: 30px;
    margin: auto;
}
.contact .formulaire form input{
    color: rgb(129, 118, 118);
    background: white;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px solid red;
    transition: all 0.3s ease;
}
.contact .formulaire form button{
    width: 100%;
    color: #fff;
    background: blue;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px solid red;
    transition: all 0.3s ease;
  }
}